/*--------------------------------------------------
[ Front page (index.html)]*/

.slideshow-container {
    z-index: 1;
}

#slogan{
    margin-top: 30px;
    margin-left: 15%;
    color: aqua;
    font-family: 'Lobster', cursive;
    font-weight: 400;
}
#address{
    margin-top: 20px;
    margin-left:15%;
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
}
#generalInfo{
    margin-top: 25px;
    margin-left: 5%;
    padding: 10px;
    border: solid 2px grey;
    font-size: 16px;
    font-family: 'IBM Plex Serif', serif;
}
button{
    background:#1AAB8a;
    color: #fff;
    border: none;
    position: relative;
    height: 60px;
    font-size: 1.6em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}
button:hover{
    background: #fff;
    color: #1AAB8a;
}
button:before,button:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #1AAB8a;
    transition: 400ms ease all;
}
button:after{
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}
button:hover:before,button:hover:after{
    width: 100%;
    transition: 800ms ease all;
}
.bookIt{
     margin-left: 400px;
     margin-top: 20px;
}

/*--------------------------------------------
[ Property Section]*/
.propCon{
    margin-top: 50px;
    margin-bottom: 30px;
    width: 300px;
    height: 350px;
    border: solid 3px black;
}
h3{
    margin-left: 60px;
    margin-top: 20px;
    font-family: 'Lobster', cursive;
    font-weight: 400;
}
.btnCon {
    margin-left: 45%;
    margin-top: 15px;
}
.slideshow-container-prop {
    width: 1000px;
    height: 450px;
    margin: 2% 10% 5% 15%;
    -webkit-box-shadow: 0 10px 6px 6px #777;
    -moz-box-shadow: 0 10px 6px 6px #777;
    box-shadow: 0 10px 6px 6px #777;
     
}
.row-slide{
    height: 450px;
    margin-bottom: 20px;
}

/*--------------------------------------------
[ Activity section]*/
.con{
    width: 80%;
    height: 800px;
    border: solid 3px rgb(48, 45, 45);
    margin-top: 25px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0 10px 6px 6px #777;
    -moz-box-shadow: 0 10px 6px 6px #777;
    box-shadow: 0 10px 6px 6px #777;
}
.activTitle{
    margin-left: 40%;
    margin-top: 5%;
    font-family: 'Lobster',cursive;
    font-weight: 500;
}
.cardP{
    margin-top: 20px;
    padding: 4px;
    font-family: 'IBM Plex Serif', serif;
    font-size: 14px;
}
.kidCont{
    margin-left: 30px;
}
/*--------------------------------------------
[General]*/
p{
    text-indent: 25px;
}
.nav-link{
    margin-right: 40px;
}
.navbar-brand{
    margin-left: 85px;
}

footer{
    width: 100%;
    margin-top: 5%;
    height: 80px;
    background-color: black;
    padding: 20px;
}
.footerText{
    color: white;
    text-align: center;
    margin-top: 30px;
}
